body.theme-blue {
  --el-color-primary: #1890ff;
  --el-bg-color: #f0f2f5;
  --el-text-color-primary: #303133;
  --el-text-color-regular: #606266;
  --el-border-color: #d9d9d9;
  --el-fill-color-blank: #ffffff;
}
