body.theme-dark {
  --el-color-primary: #409EFF;
  --el-bg-color: #141414;
  --el-text-color-primary: #ffffff;
  --el-text-color-regular: #cfd3dc;
  --el-border-color: #4c4d4f;
  --el-fill-color-blank: #1d1e1f;
}
