<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.piaomiao.dal.mapper.PostMapper">
    <!-- 根据编码查询岗位 -->
    <select id="selectByCode" parameterType="java.lang.String" resultType="com.piaomiao.dal.entity.PostDO">
        SELECT * FROM sys_post WHERE code = #{code}
    </select>
</mapper>
