<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.piaomiao.dal.mapper.UserDepartmentMapper">
    <select id="selectDepartmentIdsByUserId" resultType="java.lang.Long">
        SELECT department_id FROM sys_user_department WHERE user_id = #{userId}
    </select>
    
    <delete id="deleteByUserId">
        DELETE FROM sys_user_department WHERE user_id = #{userId}
    </delete>
    
    <insert id="batchInsert">
        INSERT INTO sys_user_department (user_id, department_id) VALUES
        <foreach collection="list" item="item" separator=",">
            (#{item.userId}, #{item.departmentId})
        </foreach>
    </insert>
</mapper>
